body {
  background-color: rgb(33, 34, 34);
  font-family: "Noto Sans Mono", monospace;
  font-weight: 400;
  margin: 0 auto;
}
.all {
    display: flex;
  justify-content: center;
  align-items: center;
}
 article {
  max-width: 120rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.slider {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.overflow {
  width: 100%;
  overflow: hidden;
  
  
}

figure {
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  
}
figcaption {
  position: relative;

  top: 0.5vh;
  color: #fff;
  width: 70rem;
}
.slider-img {
  width: 500%;
  line-height: 0;
  display: flex;
}

figure > p > img {
  width: 70rem;
  height: 40rem;
}

label {
  cursor: pointer;
}

.all input {
  display: none;
}

#slide-1:checked ~ .slides .slider-img {
  margin-left: 0;
}

#slide-2:checked ~ .slides .slider-img {
  margin-left: -100%;
}

#slide-3:checked ~ .slides .slider-img {
  margin-left: -200%;
}

#slide-4:checked ~ .slides .slider-img {
  margin-left: -300%;
}

#slide-5:checked ~ .slides .slider-img {
  margin-left: -400%;
}

#bullets-active label {
  
  display: inline-block;
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  padding-bottom: 0.8rem;
  transition: all 0.6s ease;
  cursor: pointer;
  margin-left: 0.7rem;
  color: tomato;
}

#bullets-active {
  
  top: -1.8rem;
  margin: 0 auto;
  position: relative;
  text-align: right;
  width: 70rem;
  z-index: 1;
}

#bullets-active label:hover {
  color: rgb(123, 122, 122);
  opacity: 0.5;
}

#slide-1:checked ~ #bullets-active label:nth-child(1),
#slide-2:checked ~ #bullets-active label:nth-child(2),
#slide-3:checked ~ #bullets-active label:nth-child(3),
#slide-4:checked ~ #bullets-active label:nth-child(4),
#slide-5:checked ~ #bullets-active label:nth-child(5) {
  color: #fff;
}

.slides .slider-img {
  transition: all 800ms ease;
}

@media screen and (max-width: 768px) {
    article {
      max-width: 50rem;
      width: 100%;
    }
    .overflow {
      height: 35rem;
    }
    figcaption {
  width: 40rem;
  word-break: break-all;
  top: 5rem;
    }
    figure > p > img {
  width:41rem;
  height: 25rem;
    }
    #bullets-active {
        width: 41rem;
        text-align: center;
        top: -6rem
    }
    #bullets-active label {
        margin-left: 0rem;
    }
}  
@media screen and (max-width: 420px) {
  article {
    max-width: 26.5rem;
    width: 100%;
  }
  .overflow {
    height: 25rem;
  }
  figcaption {
width: 20rem;
word-break: break-all;
top: 5rem;
  }
  figure > p > img {
width: 20rem;
height: 15rem;
  }
  #bullets-active {
      width: 20rem;
      text-align: center;
      top: -6rem
  }
  #bullets-active label {
      margin-left: 0rem;
  }
  #mem-1{
      content: url(./assets/1min.jpg);
  }
  #mem-2{
    content: url(./assets/2min.jpg);
}
#mem-3{
    content: url(./assets/3min.jpg);
}
#mem-4{
    content: url(./assets/4min.jpg);
}
#mem-5{
    content: url(./assets/5min.jpg);
}
}
