body {
    background-color:rgb(33, 34, 34);
    
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 400;
    
    max-width: 120rem;
    width: 100%;
    margin: 0 auto;
}

.slider {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    
}

.overflow {
    width: 100%;
	overflow: hidden;
    
}

figure {
    width: 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
}
figcaption {
    position: relative;
    
    top: 0.5vh;
    color: #fff;
    width: 70rem;
}
.slider-img {
    width: 500%;
	line-height: 0;
    display: flex;
    
    
}

figure>p>img {
    width: 70rem;
    height: 40rem;
    
}





label{ 
	cursor: pointer;
}

.all input{ 
	display: none;
}


#slide-1:checked ~ .slides .slider-img{
	margin-left: 0;
}

#slide-2:checked ~ .slides .slider-img{
	margin-left: -100%;
}

#slide-3:checked ~ .slides .slider-img{
	margin-left: -200%;
}

#slide-4:checked ~ .slides .slider-img{
	margin-left: -300%;
}

#slide-5:checked ~ .slides .slider-img{
	margin-left: -400%;
}



#bullets-active label{ 
	border-radius: 10px; 
	display: inline-block; 
    font-size: 1.2rem;
	width: 2rem;
	height: 2rem;
	padding-bottom: 0.8rem;
    transition: all .6s ease;
    cursor: pointer;
    margin-left: 0.7rem;
    color: tomato;
}

#bullets-active{ 
    width: 27rem;
    top: -1.5rem;
    margin: 0 auto;
    position: relative;
    text-align: right;
    width: 70rem;
    z-index: 1;
}

#bullets-active label:hover{ 
    color:rgb(123, 122, 122);
    opacity: 0.5;
    
}


#slide-1:checked ~ #bullets-active label:nth-child(1),
#slide-2:checked ~ #bullets-active label:nth-child(2),
#slide-3:checked ~ #bullets-active label:nth-child(3),
#slide-4:checked ~ #bullets-active label:nth-child(4),
#slide-5:checked ~ #bullets-active label:nth-child(5){
	color:#fff
}

.slides .slider-img{ 
	transition: all 800ms ease;
}

