body {
    background-color:rgb(188, 212, 213);
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Mono', monospace;
    font-weight: 400;
    font-size: 16px;
}
main {
    margin: 0 auto;
}
.slider {
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    
    
}
.slides {
    height: 85vh;
    overflow: hidden;
}
.sign {
    display: flex;
    flex-direction: column;
    

}
.sign p img {
    width: 100%;
    margin: 0 auto;
}
.bullets {
    display: flex;
    position: relative;
    top: -7vh;
    left: 22.5vw;
}
.bullets a {
    display: block;
    padding: 0.5rem;
    border-radius: 50%;
    color: #fff;
    transition: color 0.4s ease-in-out;
}

.bullets a i {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-color: transparent;
}

.bullets a+a i {
    background-color: #fff;
}
.bullets a:hover {
    color: #fff;
}
.bullets a:active {
    color: #000;
}
body>i:target ~.slider>.bullets>a>i {
    background-color: #fff;
}
#meme1:target ~.slider>.bullets>a:nth-child(1)>i {
    background-color: transparent;
}
#meme2:target ~.slider>.bullets>a:nth-child(2)>i {
    background-color: transparent;
}
#meme3:target ~.slider>.bullets>a:nth-child(3)>i {
    background-color: transparent;
}
#meme4:target ~.slider>.bullets>a:nth-child(4)>i {
    background-color: transparent;
}
#meme5:target ~.slider>.bullets>a:nth-child(5)>i {
    background-color: transparent;
}
#meme6:target ~.slider>.bullets>a:nth-child(6)>i {
    background-color: transparent;
}
#meme7:target ~.slider>.bullets>a:nth-child(7)>i {
    background-color: transparent;
}